image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

stages:
  - build
  - docker
  - deploy

build-job:
  stage: build
  image: node:18-alpine
  script:
    - echo "Installing dependencies and building the React app..."
    - cd client
    - npm install
    - CI=false npm run build
  artifacts:
    paths:
      - client/build/
  only:
    - main

backend-build:
  stage: build
  image: node:18-alpine
  script:
    - echo "Installing backend dependencies..."
    - cd backend
    - npm install
    # might need to build backend too
    # - npm run build
  artifacts:
    paths:
      - backend/dist/  # built backend files
  only:
    - main

docker-build-job:
  stage: docker
  script:
    - echo "Building Docker image..."
    - docker build -t janosfm/carbonfootprint .
  only:
    - main

deploy-job:
  stage: deploy
  image: alpine:3.18
  before_script:
    - apk add --no-cache openssh-client
    # it is stored visible on CI/CD variables ( might need maintenance )
    - printf "%s" "$joan_digitalocean" > id_rsa
    - chmod 600 id_rsa
    # Disable strict host key checking for convenience, but it allows for MiM attack ( consider security implications )
    - mkdir -p ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config

  script:
    - echo "Deploying the Docker image..."
    # pull the latest image and run it on the droplet
    - ssh -i id_rsa root@159.65.27.112 "docker pull janosfm/carbonfootprint && docker stop carbonfootprint || true && docker rm carbonfootprint || true && docker run -d --name carbonfootprint -p 3001:80 janosfm/carbonfootprint"

  only:
    - main
