.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.auth-background {
  width: 100%;
  height: 100vh;
  background-image: url('../images/login_signup.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  opacity: 1;
}

.left-overlay {
  width: 38.2%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-logo {
  width: 400px;
  height: auto;
  margin-bottom: 50px;
}

.form-uniLogo {
  width: 200px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 20px;
  margin-top: 0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  max-width: 450px;
  width: 100%;
}

.auth-form input[type="email"],
.auth-form input[type="password"],
.auth-form input[type="text"],
.auth-form input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.inline-fields {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.inline-fields input[type="text"] {
  width: 100%;
}

.button {
  width: 100%;
  padding: 10px;
}

.submit {
  background-color: green;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  background-color: darkgreen;
}

.text-link a {
  color: blue;
  text-decoration: none;
}

.text-link a:hover {
  text-decoration: underline;
}
